# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{html}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{js,ts,json,yml,yaml,md}]
indent_style = space
indent_size = 2
